table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border-bottom: 1px dashed grey;
  padding: 1rem;
  margin: 0;
}

table th{
  background-color: rgb(152, 183, 194);
  text-transform: uppercase;
  color: white;
  border: none;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

/* APLICA O FIO LATERAL EM td */
tr > td{
  border-right: 1px solid black;
}
/* APLICA O FIO LATERAL EM th */
tr > th{
  border-right: 3px solid white;
}
tr > th:last-child, tr > td:last-child{
  border-right: none;
}

/* APLICAR ESTILO NAS LINHAS PARES */
/* tr:nth-child(even){
  background-color: lightgrey;
} */

/* tr:nth-child(even):hover{
  background-color: rgb(184, 171, 171);
} */
/* tr:nth-child(odd):hover{
  background-color: rgb(155, 229, 239);
} */
tr{
  transition: background-color .5s;
}
tr:hover{
  background-color: rgb(217, 235, 238);
}
table:last-child{
  border-bottom: 4px solid grey;

}

table th:first-child{
  border-top-left-radius: 10px;
  
}
table th:last-child{
  border-top-right-radius: 10px;
 
}



